@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: transparent;
  margin: 0;
}

#root {
  width: 1700px;
  height: 900px;  
  min-height: 900px;
  max-height: 900px;
  overflow: visible;
  display: flex;
  align-items: top-left;
  justify-content: top-left;
  margin: 0 auto;
}